@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #0e0e0e;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form {
  background-color: #1a1a1a;
  border: 1px solid #333;
  border-radius: 20px;
  padding: 40px 30px;
  max-width: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
}

.title {
  font-size: 26px;
  font-weight: 600;
  letter-spacing: -1px;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 25px;
  color: #00bfff;
}

.title::before {
  content: "";
  position: absolute;
  left: 0;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #00bfff;
}

.input-control {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input {
  background-color: #333;
  color: #fff;
  padding: 18px 10px 6px 10px;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
  font-size: 1em;
  outline: none;
}

.input + span {
  position: absolute;
  left: 10px;
  top: 12px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9em;
  transition: 0.3s ease;
  pointer-events: none;
}

.input:focus + span,
.input:valid + span {
  top: 4px;
  font-size: 0.7em;
  font-weight: 600;
  color: #00bfff;
}

small {
  margin-top: 5px;
  font-size: 0.75em;
  color: red;
}

.enviar {
  padding: 14px;
  border: none;
  border-radius: 10px;
  background-color: #00bfff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.enviar:hover {
  background-color: #00bfff96;
  text-decoration: underline;
}
